<div class="sidebar">
  <div class="container">
  <img src="public\apple-touch-icon-144-precomposed.png" alt="profile picture" class="center">
    <div class="sidebar-about">
    
      <h3>
           

        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      
    </nav>
        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
<div id="sfc75bdghaz6gakq75npuhnjqppn1n7lkat"></div><script type="text/javascript" src="https://counter4.wheredoyoucomefrom.ovh/private/counter.js?c=75bdghaz6gakq75npuhnjqppn1n7lkat&down=async" async></script><noscript><a href="https://www.freecounterstat.com" title="page counter"><img src="https://counter4.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=75bdghaz6gakq75npuhnjqppn1n7lkat" border="0" title="page counter" alt="page counter"></a></noscript>
  </div>
</div>
